node_modules/
.env
backend/.env.example
src/frontend/public/asset/avatars/courses/course_tmp_1780866266307_693087878.jpg
src/frontend/public/asset/avatars/courses/course_avt_56.jpg
src/frontend/public/asset/avatars/courses/course_avt_57.jpg
src/frontend/public/asset/avatars/courses/course_avt_58.jpg
src/frontend/public/asset/avatars/courses/course_tmp_1780866657278_115525756.jpg
src/frontend/public/asset/avatars/courses/course_tmp_1780866921222_837557392.jpg
src/frontend/public/asset/avatars/courses/course_tmp_1780867039096_133102125.jpg
